.titulo{
    text-align: center;
}

input{
    width: 100%;
}

select{
    width: 100%;
}

.contenido{
    display: flex;
    justify-content: space-around;
}

.subtitulos{
    text-align: center;
}

.edad-sexo{
    display: flex;
}

.edad{
    margin-right: 10px;
}

.noSeleccionado {
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
}

.seleccionado {
    height: 25px;
    width: 25px;
    background-color: white;
    box-shadow: inset 0 0 0 7px purple;
    border-radius: 50%;
    display: inline-block;
}

.select{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.select span{
    margin-top: 11px;
}

