.titulo {
  text-align: center;
  font-family: cursive;
  font-style: italic;
  font-size: 2.5rem;
  border: 2px solid rgb(200, 170, 40);
  border-radius: 15px;
  box-shadow: 3px 2px blue;
  margin: 0 0 40px 0;
}

body {
  border: solid 3px #ddd;
  border-radius: 20px;
}

.contenido {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
  display: inline;
}

.contenido h4 {
  font-style: italic;
}

.agregar {
  border: 3px solid aquamarine;
  margin: 0 0 20px 0;
}

.inputs {
  display: flex;
  justify-content: space-around;
  margin: 5px 0 20px 0;
}

.contenido input {
  border-radius: 10px;
  border: 2px solid rgb(200, 170, 40);
  font-size: 20px;
}

.tarea {
  display: grid;
}

.tarea table,
thead,
td,
th {
  border: 1px solid black;
  font-style: italic;
}

.complete {
  display: flex;
  float: left;
}

.pending {
  display: flex;
  float: right;
}

.btn-tarea {
  margin: 5px 0 20px 0;
}

.btn-tarea button {
  border: 1px solid rgb(20, 30, 50);
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  font-family: cursive;
  font-size: 30px;
  font-style: italic;
}