.app {
    background-color: rgb(212, 105, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.generador {
    background-color: black;
    border: 1px solid rgb(212, 105, 171);
    border-radius: 15px;
    color: white;
    height: 80vh;
    width: 50vh;
    text-align: center;
    box-shadow: 0px 0px 5px 1px black;
}

.btns{
    justify-content: space-around;
    display: flex;
}

.contrasena {
    margin-top: 15px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.texto {
    background-color: gray;
    margin: 15px;
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    height: 80px;
}

.texto p{
    font-size: 14px;
}

.texto img {
    float: right;
    margin: 1.2em -0.7em 1em 1em;
}

.longitud {
    text-align: left;
    margin-left: 15px;
    font-weight: bold;
    color: gray;
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rango {
    justify-content: space-between;
    display: flex;
    width: 415px;
    background-color: gray;
    color: wheat;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid white;
}

.rango input {
    width: 360px;
}

.titulo{
    color: gray;
    text-align: left;
    margin: 15px;
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.confi {
    width: 415px;
    border: 1px solid white;
    padding-right: 20px;
    padding-left: 20px;
    background-color: gray;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.confi p {
    color: white;
}

.btn-contrasena{
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: gray;
    color: white;
}

.btn-contrasena:hover{
    background-color: blue;
}
.btn-contrasena:active{
    background-color: red;
}