.titulo {
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  font-family: monospace;
  width: 80%;
}

.titulo h1 {
  text-shadow: 3px 3px 10px blue;
}

header {
  text-align: center;
  display: flex;
  justify-content: center;
  text-shadow: 1px 5px 4px blue;
}

header button {
  border-radius: 10px;
  background-color: chartreuse;
  font-weight: bold;
  margin-left: 10px;
}

header p,
input,
button {
  font-size: 1.6rem;
}

.lista {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.lista p {
  text-shadow: 3px 3px 10px blue;
  font-size: 1.8rem;
}

.lista button.eliminar {
  border-radius: 10px;
  background-color: red;
  color: white;
  padding: 5px 10px;
  margin: 10px 10px 0 5px;
}

.lista button.editar {
  border-radius: 10px;
  background-color: blue;
  color: white;
  padding: 5px 10px;
  margin: 10px 10px 0 5px;
}

.lista button.completar {
  border-radius: 10px;
  background-color: green;
  color: white;
  padding: 5px 10px;
  margin: 10px 10px 0 5px;
}

ul {
  list-style-type: square;
  padding: 0;
  margin: 5px 0;
  font-size: 2rem;
}

section {
  border: 1px solid black;
  padding: 10px;
  width: 80%;
  text-align: center;
  margin: 10px auto 10px auto;
  border-radius: 20px;
  box-shadow: 3px 3px 10px blue;
}

p {
  font-size: 1.6rem;
  text-shadow: 1px 5px 4px blue;
}

section input {
  width: 40%;
  margin: 0 20px 0 0;
}

section button {
  background-color: blue;
  color: white;
  border-radius: 10px;
  font-size: 1.6rem;
  margin: 10px 0 0 0;
}